<script setup>

import { useRouter} from "vue-router";
import { apiUserNewOrExist } from "../api/user";
import InputUsernameForm from '../components/InputUsernameForm.vue';

    const router = useRouter()

    const handleGetQuestions = () => {
        router.push("/questions")
    }
</script>

<template>
    <main class="container mx-auto px-4">
        <h1 class="mb-3 text-lg">Type your username to start!</h1>
        <InputUsernameForm @onGetQuestions='handleGetQuestions'/>
    </main>
</template>