<script setup>
import { onBeforeMount, onMounted, ref } from "vue";
import { useStore } from "vuex";
import QuestionItem from "./QuestionItem.vue";

const store = useStore()
const emit = defineEmits(["onGameDone"])

// Assigned to user choice when an answer to a question has been submitted
let pickedOption = ""

// Loads correct and incorrect answers into an array, then randomizes the order of the array
// and commits the randomized array to the store
function loadAnswers () {
    let answerOptionArray = []
    for (let i = 0; i < store.getters.getQuestion.incorrect_answers.length; i++) {
        const element = store.getters.getQuestion.incorrect_answers[i];
        answerOptionArray.push(element)
        
    }
    answerOptionArray.push(store.getters.getQuestion.correct_answer)
    answerOptionArray = answerOptionArray.sort((a, b) => 0.5 - Math.random());

    store.commit("setAnswerOptions", answerOptionArray)
}

// Returns a Boolean flag by comparing the answer picked by the user to the correct answer
function compareAnswer() {
    if (store.getters.getQuestion.correct_answer == pickedOption) {
        return true 
    }
    return false
}

// Commits an array with the question, correct answer, users answer choice and a Boolean (True if users answer is correct  otherwise false)
// The array is used in store to create a object that is then saved to state as a record of the question and user choice
function commitAnswer() {
        store.commit('setResult', [store.getters.getQuestion.question, store.getters.getQuestion.correct_answer, pickedOption, compareAnswer()])
}

// !Potential bug, should it not check for pickedOption !== "" in first if statement?
// Handles click event from the submit button. GameIndex tracks amount of questions answered
// If gameIndex is equal to game length there are no more questions left to answer. 
function submitAnswer () {
    if (store.getters.getGameIndex == (store.getters.getGameLength - 1)){
        commitAnswer()
        emit("onGameDone")

    } else if (pickedOption !== "") {
        console.log("I'm the picked option",pickedOption)
        commitAnswer()
        // Keeps track of the amount of questions answered
        store.commit('incrementGameIndex')
        // Called to load next set of answer options
        loadAnswers()
        pickedOption = ""
    }
} 

// Handles emit from checked radio button (ie. user has selected an answer)
// Picked is the answer text emitted from the radio button
function handleOnSelected (picked) {
    pickedOption = picked
}

// initiates first loading of answers
onMounted( () => {
    loadAnswers()
    })

</script>

<!-- Known error! Checkmark does not disappear when user presses submit button.
Hence it appears as if an answer has already been selected. However if user does not
actively click on a radio button picked value will no be updated and user can't submit
Also user must click on another radio button than the currently marked one as it seems not to be bound.
This must be done even if the user wants to select the currently marked radiobutton (RB).
Example in first question user selects RB 2 and presses submit. RB2 remains selected visually on question 2.
However if user wants to choose answer option 2, user must first click any other option and then select RB2 again
otherwise data will not be updated and the submit button will not work  -->
<template>
    <h1>{{ store.getters.getQuestion.question}}</h1>

    <!-- Loops over answer options and creates a QuestionItem for each. -->
    <QuestionItem v-for="(option, index) in store.getters.getAnswerOptions" :key="`option-${index}`" :option="option" @onSelected='handleOnSelected'/>

    <button
            @click="submitAnswer()"
            type="button"
            class="bg-sky-700 text-white p-3 rounded"
            >Submit</button>
</template>