<script setup>
import { onMounted, ref } from "vue";
const emit = defineEmits(["onSelected"])

// Set to input value if radio button is selected
const picked = ref("")

    defineProps({
        option: {
            type: String
        }
    })

    onMounted( () => {
    // console.log("Im onMounted in QuestionItem", ansOption)

    })

    // Emits to Question that the radio button has been selected an passes in the input value
    function handleOnChange(){
        emit("onSelected", picked.value)
    }
</script>

<template>
    <input type="radio" v-model="picked" :id="option" name="answers" :value="option" @change="handleOnChange()">
    <label for="`option-${index}`"> {{ option }} </label>
</template>